.reportDraftPage {
    display:flex;
    height:  87.5%;
    width: 100%;
}

.sideBarContainer {
    width:20vw;
    border-right: 1px solid #000;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reportDraftsContainer {
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reportDraftBtn {
    width:72%;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 3px;
    text-decoration: none;
    color: #000;
    
}

.reportDraftElem {
    margin: 3px;
    border: 1px #111 solid;
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
}

.reportDraftElem .active {
    background-color: #dadada;
}

.reportDraftElem img {
    padding: 5px 10px;
    height: 20px;
    border-radius: 5px;
    height: max-content;
    width: 25px;
}

.reportDraftBtn:hover, .reportDraftElem img:hover {
    background-color: #ccc;
    cursor: pointer;
}

.addBtnContainer {
    border-top: 1px #000 solid;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.addBtn {
    border-radius: 8px;
    width: 90%;
    padding: 10px 0px;
    background-color: #000;
    color: #fff;
}


.addBtn:hover {
    background-color: #fff;
    color: #000;
    transition:  0.8s;
}

.reportDraftForm {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.reportDraftForm input, textarea {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-height: 38px;
    outline: 0!important;
    position: relative;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-bottom: 5px;
}

#description {
    min-width: 100%;
    max-width: 100%;
}
.sampleList {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    list-style: none;
    min-height: 85vh;
    max-height: 85vh;
}

#form-file-upload {
    height: 80%;
    max-width: 100%;
    text-align: center;
    margin: 10px 10px;
    position: relative;
  }
  
  #input-file-upload {
    display: none;
  }
  
  #label-file-upload {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-radius: 1rem;
    border-style: dashed;
    border-color: #cbd5e1;
    background-color: #f4f4f4;
  }
  
  #label-file-upload.drag-active {
    background-color: #cccccc;
  }
  
  .upload-button {
    cursor: pointer;
    padding: 0.25rem 1rem;
    font-size: 1rem;
    border: none;
    font-family: 'Oswald', sans-serif;
    background-color: transparent;
  }
  
  .upload-button:hover {
    text-decoration: underline;
  }
  
  #drag-file-element {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }

  .reportDraft {
    width:100%;
    height: 90%;
    display: flex;
    flex-direction: column;
  }

  .fileInfoContainer {
    height: 20vh;
    width: 100%;
    display: flex;
  }

  .dropFileContainer {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin:5px;
  }
  
  .serverFileContainer {
    margin:5px;
  }

  .draftRequiredDataContainer {
    width:100%;
    min-height: min-content;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-top: 1px solid #000;
    padding-top: 10px;
  }
  
  .draftInfoContainer {
    width:98%;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #ddd;
  }

  .draftRedirectInfo {

    padding: 10px;
    display: flex;
    justify-content: space-between;
  }

  .arrowDownImg {
    height: 30px;
      margin-right: 10px;
      padding: 10px;
  }
  
  .arrowDownImg:hover {
      cursor:pointer ;
  }
  .infoName {
    width:20%;
  }

.infoDataCount {
  width:30%;
}

.openDraftInfo {
  border-top: 1px solid #000;
  padding: 10px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  max-height: 35vh;
  overflow-y: scroll;
}

.propertyNameItem {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.saveImg {
  height: 8vh;
  margin: 0;
  padding: 2px 5px;
}

.propForm input {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 6px 0;
  padding: 8px 5px;
  width:90%;
}

.plusBtn {
  height: 38px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 0 4px 4px 0;
}

.plusBtn:hover {
  background-color: #ccc;
}

.propSelectInput {
  width: 100%;
  border-radius: 4px 0 0 4px;
}

.propBtn{
  width: 96%;
  margin: 0 2%;
  margin-bottom: 5px;
  background-color: black;
  color:white;
  border-radius: 10px;
  padding: 5px 0;
}

.propBtn:hover {
  background-color: #dfdfdf;
  color:#000;
  transition:
   all 750ms linear;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.requiredField {
  display: flex;
  flex-direction: column;
}

.requiredField span{
  color:red;
  font: 0.8em sans-serif;
  font-style: italic;
}
.requiredField input, textarea{
  margin-top: 0;
}

#hazardClass{
  direction: rtl;
  margin-left: 10px;
  padding: 0 0;
}

#hazardInput {
  display: flex;
  align-items: center;
}

#hazardValueContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hazardValueContainer span {
  font: 0.8em sans-serif;
  font-style: italic;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  border-radius: 10px;
  width: 100%;
}