.projectPage {
    display:flex;
    height: 87.5%;
    width: 100%;
}

.sideBarContainer {
    width:20vw;
    border-right: 1px solid #000;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projectsContainer {
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectBtn {
    width:72%;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 3px;
    text-decoration: none;
    color: #000;
    
}

.projectElem {
    margin: 3px;
    border: 1px #111 solid;
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
}

.projectElem .active {
    background-color: #dadada;
}

.projectElem img {
    padding: 5px 10px;
    height: 20px;
    border-radius: 5px;
    height: max-content;
    width: 25px;
}

.projectBtn:hover, .projectElem img:hover {
    background-color: #ccc;
    cursor: pointer;
}

.addBtnContainer {
    border-top: 1px #000 solid;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.addBtn {
    border-radius: 8px;
    width: 90%;
    padding: 10px 0px;
    background-color: #000;
    color: #fff;
}


.addBtn:hover {
    background-color: #fff;
    color: #000;
    transition:  0.8s;
}

.projectForm {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.projectInput {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-height: 38px;
    outline: 0!important;
    position: relative;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-bottom: 5px;
}

#description {
    min-width: 100%;
    max-width: 100%;
}