.surveyPlaceContainer {
    width: 100%;
    position: relative;
}
.surveyPlaceList {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    list-style: none;
    min-height: 85vh;
    max-height: 85vh;
}
ul {
    margin:0;
    padding: 0;
}

li {
    list-style-type: none;
}
.placeLi {
    margin: 10px 10px;
    border-radius: 5px;
    border: 1px solid #000;
}
.placeContainer {
    padding: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.plusImg {
    height: 40px;
      margin-right: 10px;
    padding-right: 5px;
  }

.plusImg:hover {
    cursor:pointer ;
}

.placeTitleInput{
    background-color: #f5f5f5;
    margin:1px;
    margin-left:10px;
    border:0;
    outline: none;
    font-weight:bold;
    border-radius: 10px 10px 0px 0px;
}
.placeTitleInput:hover, .placeDescriptionTextArea:hover {
    background-color: #ffffff;
}

.placeDescriptionTextArea {
    background-color: #f5f5f5;
    margin: 0px;
    margin-left: 10px;
    min-width: 25vw;
    max-width: 25vw;
    min-height: 3vh;
    height: 3vh;
    border: 0;
    outline: none;
    text-align:start;
    padding: 0;
    border-radius: 0px 0px 10px 10px;
}
.placeType {
    background-color: #f5f5f5;
    width:30vw;
}

.placeInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

p {
    margin: 0;
    margin-left: 10px;
    margin-right: auto;
    width:max-content;
}

.placeTitle {
  border-bottom: 1px solid #000;
  padding: 5px 10px;
  padding-right: 20px;
}

.placeDescription {
  padding: 10px 10px 10px 5px;
    max-width: 30vw;
}

.arrowDownImg {
  height: 30px;
    margin-right: 10px;
    padding: 10px;
}

.arrowDownImg:hover {
    cursor:pointer ;
}

.sampleList {
  border-top: 1px solid #000;
  padding: 10px;
  transition: content-visibility 1s;
  width: 98%;
}

.typeValueComboBox{
    max-width: 140px;
}

.sampleForm p {
    margin-right: 10px
}

.sampleDataContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sampleDataContainer p{
    margin:0;
    margin-right: 5px;
}

.typeValueComboBox {
    margin-right: auto;
}

.value-cb__value-container {
    padding: 1px 2px;
}

.sampleItem {
    border: 2px #bbb solid;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sampleContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.sampleDataContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#chemPropP {
    margin-left: 20px;
}
.chemNameCb {
    margin: 0;
  width: 15vw;
}

.realNumberForm {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.realNumberForm p{
    margin:0;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.prefixCb {
    margin-left: 10px;
    width: 135px;
}

.numInput {
    height: 34px;
    margin-left: 2px;
    border-radius: 5px;
    width: 40px;
    text-align: center;
    border: 1px #bbb solid;
    outline: none;
}

.measureCb {
    margin-left: 2px;
  width: 150px;
}

.textInput {
    padding: 5px;
    margin-left: 10px;
}

.saveImg {
    height: 30px;
      margin-right: 10px;
    padding-right: 10px;
}

.saveImg:hover {
    cursor: pointer;
}