.registrationForm {
    display: flex;
    flex-direction: column;
}

.registrationForm input {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 6px 0;
    padding: 14px;
}